@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/tailwind.css */

/* src/styles/tailwind.css */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Add some basic styling for the loader */
.loader {
  border-top: 4px solid #facf32;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
